
body {
    background-color: blueviolet;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    font-size: 18px;
    color: #1f3251;
    margin: 16px 0;
}

.card p {
    color: #7b879d;
    font-size: 14px;
}